@using Microsoft.AspNetCore.SignalR.Client
@using CMS.Data.ModelDTO;


<style>
    .user-profile-header img {
        position: relative;
        width: 45px;
        height: 45px;
    }
</style>
<div class="navbar-header">
    <a class="navbar-toggle font-20 hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
    </a>
    <div class="top-left-part">
        <a class="logo" href="/Admin/Article">
            <b>
                <img style="height:40px;" src="/assets/images/logo.png" alt="home" />
            </b>
            <span>
                Hanoma
                @*<img src="/Cubic/plugins/images/logo-text.png" alt="homepage" class="dark-logo" />*@
            </span>
        </a>
    </div>
    <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li>
            <a href="javascript:void(0)" class="sidebartoggler font-20 waves-effect waves-light"><i class="icon-arrow-left-circle"></i></a>
        </li>
        <li>
            <form role="search" class="app-search hidden-xs">
                <i class="icon-magnifier"></i>
                <input type="text" placeholder="Tìm kiếm..." class="form-control">
            </form>
        </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right pull-right">      
        <li class="dropdown user-profile-header">
            <a href="javascript:void(0);" class="dropdown-toggle u-dropdown text-blue" style="display:flex;align-items:center" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <img src="/data/user/mainimages/small/noimages.png" : globalModel.avatar)" alt="user-img" class="img-circle">
                @*<span class="d-none m-l-10"> @user.Identity.Name</span>*@
            </a>
            <ul class="dropdown-menu mailbox animated bounceInDown">
                <li><a href="/Admin/Account/EditProfile"><i class="fa fa-user"></i> Thông tin cá nhân</a></li>
                <li><a href="/Admin/Account/ChangePassword"><i class="fa fa-key"></i> Đổi mật khẩu</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/Identity/Account/Logout"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
            </ul>
        </li>
    </ul>
</div>

<!-- ===== Top-Navigation-End ===== -->
@code{
    [CascadingParameter]
    protected GlobalModel globalModel { get; set; }
    [CascadingParameter]
    private HubConnection hubConnection { get; set; }   
}